/** SoundConfig **/

#soundscape_soundConfig .formField {
  display: flex;
  min-width: 100%;
  margin-top: 5px;
}

#soundscape_soundConfig .formlabel {
  min-width: 50%;
}

#soundscape_soundConfig .formValue {
  width: 60%
}

#soundscape_soundConfig .filePickerField {
  width: 60%;
  display: flex;
}

#soundscape_soundConfig select { display: block; min-width: 60%; }
#soundscape_soundConfig sbLabel { display: block; min-width: 40%; max-width:40%}

#soundscape_soundConfig button.mtte-picker {
  flex: 0 0 24px;
  line-height: 24px;
  margin: -1px 0 -1px 4px;
  order: 99;
}

/** SoundscapeConfig **/

#soundscape_soundscapeConfig .ssConfigTab {
  display:flex;
  overflow: hidden;
  border: 1px solid #ccc;
}

#soundscape_soundscapeConfig .ssConfigTab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
}

#soundscape_soundscapeConfig .ssConfigTab button:hover {
  background-color: rgba(156, 155, 155, 0.425);
}

#soundscape_soundscapeConfig .ssConfigTab button.active {
  background-color: rgba(145, 145, 145, 0.301);
}

#soundscape_soundscapeConfig .ssConfigTabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#soundscape_soundscapeConfig .parentRow {
  cursor: pointer;
}

#soundscape_soundscapeConfig .childRow {
  cursor: pointer;
}

#soundscape_soundscapeConfig .fa-play {
  cursor: pointer;
}

#soundscape_soundscapeConfig .columnNumber {
  width:5%;
  text-align: left;
}

#soundscape_soundscapeConfig .columnLabel {
  width: 30%;
  text-align: left;
}

#soundscape_soundscapeConfig .columnButton {
  width:15%;
  margin: auto;
  text-align: center;
}

#soundscape_soundscapeConfig .columnCheckbox {
  width:10%;
}

#soundscape_soundscapeConfig .btn {
  width:75%;
  margin: auto;
}

#soundscape_soundscapeConfig .btnLabel {
  min-width: 57%;
  max-width: 57%;
}

#soundscape_soundscapeConfig .lowButtons {
  height: 40px;
  line-height: 1;
}





/** SoundboardConfig **/

#soundscape_soundboardConfig .formGroupNumber {
  min-width: 15%;
  max-width: 15%;
}

#soundscape_soundboardConfig .formGroupSlider {
  min-width: 45%;
  max-width: 45%;
}

#soundscape_soundboardConfig .formGroupLabel {
  min-width: 40%;
  max-width: 40%;
}

#soundscape_soundboardConfig .formGroup {
  display:flex;
}

#soundscape_soundboardConfig .formField {
  display: flex;
  min-width: 100%;
  margin-top: 5px;
}

#soundscape_soundboardConfig .formlabel {
  min-width: 50%;
}

#soundscape_soundboardConfig .formValue {
  width: 60%
}

#soundscape_soundboardConfig .filePickerField {
  width: 60%;
  display: flex;
}

#soundscape_soundboardConfig select { display: block; min-width: 60%; }
#soundscape_soundboardConfig sbLabel { display: block; min-width: 40%; }






/** Soundscape Mixer **/

#soundscape_mixer .slider-wrapper input {
  width: 200px;
  height: 1px;
  margin: 0;
  transform-origin: 100px 100px;
  transform: rotate(-90deg);
}

#soundscape_mixer .sliderBox {
  margin-left:15px;
  height: 220px;
}

#soundscape_mixer .boxed {
  border: 1px solid black ;
  border-radius: 3px ; 
  width:45px;
  max-width:45px;
  margin:0px;
  padding:5px;
  vertical-align: top;
}

#soundscape_mixer button[type=button][class=configButton]
{
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-top: 0px;
  margin-left: 0px;
  margin-bottom: 3px;
  text-align: center;
}

#soundscape_mixer button[type=button][class=FXButton]
{
  width: 100%;
  height: 25px;
}

#soundscape_mixer button[type=button][class=channelButton]
{
  width: 25px;
  height: 25px;
  padding: 0;
  position: relative;
  left: 3px;
}

#soundscape_mixer .fxButtonLabel {
  font-size: 16px;
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 4px;
  left: 1px;
}

#soundscape_mixer .channelButtonLabel {
  font-size: 16px;
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 3px;
  left: 1px;
}

#soundscape_mixer .channelPlayIcon {
  padding: 0;
  position: relative;
  bottom: 2px;
  left: 3px;
}

#soundscape_mixer .boxNumber {
  text-align: center;
  width: 100%;
  height: 30px;
}

#soundscape_mixer .masterBox {
  border: 1px solid black ;
  border-radius: 3px ; 
  width:45px;
  max-width:45px;
  margin:2px;
  padding:5px;
  display: inline-block;
}

#soundscape_mixer .nameDiv {
  width:100px;
  margin:2px;
  transform-origin: 50px 50px;
  transform: rotate(-90deg);
  height:30px;
  overflow:hidden;
}

#soundscape_mixer .nameBox {
  height:100px;
}

#soundscape_mixer .sbButton {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin:3px 3px 0px;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

#soundscape_mixer .sbButton:hover {
  border-radius: 10px;
  filter: brightness(1.25);
}

#soundscape_mixer .sbButtonOver {
  border: 2px red;
}

#soundscape_mixer .btnRow {
  max-height: 100px;
  min-height: 100px;
}

#soundscape_mixer .sbButtonLabel {
  min-width:70px;
  max-width:70px;
  min-height:15px;
  max-height: 15px;
  margin: 0px 5px 0px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid black ;
  border-radius: 3px ; 
  overflow: hidden;
  font-size: smaller;
}

#soundscape_mixer .sbButtonLabel.selected {
  background-color: darkgreen;
  color: white;
}

#soundscape_mixer .column {
  float: left;
}

/* Clear floats after the columns */
#soundscape_mixer .row:after {
  content: "";
  display: table;
  clear: both;
}

#soundscape_mixer .sbDelete {
  border: 1px solid black ;
  border-radius: 3px ; 
  width: 30px;
  height: 30px;
  margin-top: 4px;
  margin-left: 5px;
  padding:5px;
  vertical-align: top;
}