<form autocomplete="off" onsubmit="event.preventDefault()">
    <style>
        .item {
            width: 100%;
            display:flex;
        }
        .itemLabel {
            width: 40%;
        }
        .itemInput {
            width: 70%;
            display:flex;
        }
        input[type=range]
        {

        }
        input[type=number]
        {
            width:75px;
            margin-left:5px;
        }

        canvas {
            border: 2px solid rgb(151, 149, 149);
        }
        #canvas-parent *{
            position: absolute;
            top: 0;
            left: 0;
        }
        .column {
        float: left;
        width: 50%;
        margin-right: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

    </style>

    <div style="width:600px" id="fxConfig-{{channel}}">

        <div>
            <h3>{{localize "Soundscape.Sound"}} {{channel}}: {{name}}</h3>
        </div>

        <div style="width:100%;height:210px;position:relative">
            <canvas id="plotBackground" height="200px" width="595px" style="z-index:1;position:absolute;left:0px;top:0px;"></canvas>
            <canvas id="fftAnalyser" height="200px" width="595px" style="z-index:2;position:absolute;left:0px;top:0px;"></canvas>
            <canvas id="freqResponse" height="200px" width="595px" style="z-index:3;position:absolute;left:0px;top:0px;"></canvas>
        </div>

        <h2>{{localize "Soundscape.Equalizer"}}</h2>
        <div class="row" style="width:100%">

            <div class="column" style="width:50%">
                {{#each eq1}}
                <h3>{{this.name}}</h3>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.Enable"}}
                    </div>
                    <div class="itemInput">
                        <input id="Enable-{{this.id}}" type="checkbox" name="Enable" data-dtype="Boolean" {{this.checked}}>
                    </div>
                </div>
                    
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.FrequencyHz"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Freq" id="Freq-{{this.id}}" min="0" max="90" value="{{this.sliderValue}}">
                        <input type="number" name="FreqNr" id="FreqNr-{{this.id}}" min="20" max="20000" value="{{this.value}}">
                    </div>  
                </div>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.QFactor"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Q" id="Q-{{this.id}}" min="0" max="150" value="{{this.qSlider}}">
                        <input type="number" name="QNr" id="QNr-{{this.id}}" min="0.1" max="100" value="{{this.q}}">
                    </div>  
                </div>
                <div class="item" style={{this.showGain}}>
                    <div class="itemLabel">
                        {{localize "Soundscape.Gain"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Gain" id="Gain-{{this.id}}" min="-30" max="30" value="{{this.gain}}">
                        <input type="number" name="GainNr" id="GainNr-{{this.id}}" min="-30" max="30" value="{{this.gain}}">
                    </div>  
                </div>
                <hr>
                {{/each}}
            </div>

            <div class="column" style="width:45%">
                {{#each eq2}}
                <h3>{{this.name}}</h3>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.Enable"}}
                    </div>
                    <div class="itemInput">
                        <input id="Enable-{{this.id}}" type="checkbox" name="Enable" data-dtype="Boolean" {{this.checked}}>
                    </div>
                </div>
                    
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.FrequencyHz"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Freq" id="Freq-{{this.id}}" min="0" max="90" value="{{this.sliderValue}}">
                        <input type="number" name="FreqNr" id="FreqNr-{{this.id}}" min="20" max="20000" value="{{this.value}}">
                    </div>  
                </div>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.QFactor"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Q" id="Q-{{this.id}}" min="0" max="150" value="{{this.qSlider}}">
                        <input type="number" name="QNr" id="QNr-{{this.id}}" min="0.1" max="100" value="{{this.q}}">
                    </div>  
                </div>
                <div class="item" style={{this.showGain}}>
                    <div class="itemLabel">
                        {{localize "Soundscape.Gain"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="Gain" id="Gain-{{this.id}}" min="-15" max="15" value="{{this.gain}}">
                        <input type="number" name="GainNr" id="GainNr-{{this.id}}" min="-15" max="15" value="{{this.gain}}">
                    </div>  
                </div>
                <hr>
                {{/each}}


            </div>



        </div>

        <h2>{{localize "Soundscape.Effects"}}</h2>
        <div class="row" style="width:100%">

            <div class="column" style="width:50%">
                <h3>{{localize "Soundscape.PlaybackRate"}}</h3>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.Rate"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="playbackRate" id="playbackRate" min="0" max="2000" value="{{playbackRate}}">
                        <input type="number" name="playbackRateNr" id="playbackRateNr" min="0" max="2" value="{{playbackRateNr}}">
                    </div>  
                </div>
                

                
            </div>
            <div class="column" style="width:45%">
                <h3>{{localize "Soundscape.Delay"}}</h3>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.Enable"}}
                    </div>
                    <div class="itemInput">
                        <input id="delayEnable" type="checkbox" name="delayEnable" data-dtype="Boolean" {{delayChecked}}>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.Delay(s)"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="delay" id="delay" min="0" max="500" value="{{delay}}">
                        <input type="number" name="delayNr" id="delayNr" min="0" max="0.5" value="{{delayNr}}">
                    </div>  
                </div>
                <div class="item">
                    <div class="itemLabel">
                        {{localize "Soundscape.DelayVolume"}}
                    </div>
                    <div style="display:flex">
                        <input type="range" name="delayVolume" id="delayVolume" min="0" max="100" value="{{delayVolume}}">
                        <input type="number" name="delayVolumeNr" id="delayVolumeNr" min="0" max="100" value="{{delayVolume}}">
                    </div>  
                </div>
            </div>
           
    </div>
    
   
</form>